




<ion-content [fullscreen]="true">
  <div class="content-container">
    

    <h1 class="title-h1">Testes Front-End</h1>

    <ion-list>
      <ion-item>
        <ion-avatar slot="start" class="img-container">
          <img src="../../assets/icon/exercicio1.png">
        </ion-avatar>

        <ion-checkbox></ion-checkbox>
        <ion-label [routerLink]="['/exercicio1']"><span>Nível 1</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nivel 1</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start" class="img-container">
          <img src="../../assets/icon/exercicio2.png">
        </ion-avatar>

        <ion-checkbox></ion-checkbox>
        <ion-label [routerLink]="['/testefront2']"><span>Nível 2</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nivel 2
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start" class="img-container">
          <img src="../../assets/icon/exercicio3.png">
        </ion-avatar>

        <ion-checkbox></ion-checkbox>
        <ion-label [routerLink]="['/testefront3']"><span>Nível 3</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Nivel 3
          </p>
        </ion-label>
      </ion-item>

  </ion-list>
  </div>

</ion-content>


