<ion-header>
  <ion-toolbar>
    <ion-title>Editar informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Sobrenome:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Idade:</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Profissão:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button class="btn" type="submit">Salvar</ion-button>
  </form>
</ion-content>